html, body { 
    background-color: #fff; color: #333;
    height: 100%;
    margin: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul.navigation {
    background-color: #b1c4a6;
    padding-top: 5px;
    padding-bottom: 4px;
}

ul.navigation li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-left: 5px #375D3B solid;
}

ul.navigation li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

ul.navigation li a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
    background-color: #7D8A75;
}

ul.folders {
    border: 1px black solid;
    width: 15%;
    float: left;
    min-height: 200px;
    padding-left: 10px;
    background-color: #E8E6ED;
}

ul.folders li {
    display: block;
    padding: 5px;
}

ul.folders li a {
    text-decoration: none;
}

div.content {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 10%;
    border: 1px black solid;
}

a.current_folder {
    font-weight: bold;
    color: #3E3D40;
}