
<% current_folder_id = params[:id].to_i %>

<ul class="folders">
  
  <%= render :partial => "layouts/folder_recursive",
    :locals => {:folders => folders}  %>

  <hr />

  <li>
    <%= image_tag "folder-new.png" %>
    <%= link_to "new folder", :controller => "folders", :action => "new" %>
  </li>

</ul>
