<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<ul class="folders">
  <% folders.each do |folder| %>
    <li><%= image_tag "dir.png" %>  <%= link_to folder.name, folder %></li>
  <% end %>
    <li><%= link_to "new folder", :controller => "folders", :action => "new" %></li>

    
</ul>
