
<% current_folder_id = params[:id].to_i %>

<% folders.each do |folder| %>
    <li>
      <%= image_tag "dir.png" %>
      <% if folder.id == current_folder_id %>
        <%= link_to folder.name, folder, :class => "current_folder" %>
      <% else %>
        <%= link_to folder.name, folder %>
      <% end %>
      <% if folder.folders %>
      <ul>
        <%= render :partial => "layouts/folder_recursive", :locals => {:folders => folder.folders}  %>
      </ul>
      <% end %>
    </li>
    
<% end %>
